.black-bg{
    background-color: $background-black;
    position: relative;
    padding-bottom: 30px;
}

.current-series{
    width: 300px;
    background-color: $backgroud-blue;
    padding: 18px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: -34px;
    h2{
        color: white;
        font-size: 30px;
    }
}


.card-container{
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .card{
        padding: 20px;
        width: calc(100% / 6);
        h2{
            color: white;
            font-size: 16px;
        }
    }
}

.button{
    margin: auto;
    width: 200px;
    height: 40px;
    background-color: $backgroud-blue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    a{
        text-decoration: none;
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
}

.blue-bg{
    display: flex;
    height: 200px;
    background-color: $backgroud-blue;
}

.jumbo-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;

    img{
        height: 100px;
        width: 80px;
    }
    p{
        color: white;
    }
}